body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #7ff6ff;
    padding: 10px 0;
}
